@using Microsoft.AspNetCore.Identity
@using TattooShop.Web.Areas.Artists.Models
@inject UserManager<TattooShopUser> UserManager
@model Artist

@{
    var tattooStyles = this.ViewData["TattooStyles"] as IEnumerable<SelectListItem>;

    var input = new BookTattooInputViewModel();
    input.Artist = @Model;
    var userToAdd = await UserManager.GetUserAsync(this.Context.User);
    input.User = userToAdd;
}

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(@Model.ImageUrl);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h2>TATTOO BOOKING</h2>
                            <small>Fill in the information below and the artist will get back to you to schedule your next tattoo.</small>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<section class="probootstrap-section">
    <div class="container">
        <div class="probootstrap-animate overlap">
            <form asp-controller="Artists" asp-action="BookTattoo" method="post" class="probootstrap-form probootstrap-form-box mb50" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-md-auto">
                        <label asp-for="@input.Description"></label>
                        <textarea asp-for="@input.Description" type="text" class="form-control" placeholder="Description..." rows="5"></textarea>
                        <span asp-validation-for="@input.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-auto">
                        <label asp-for="@input.BookedFor">Book date:</label>
                        <input asp-for="@input.BookedFor" type="date" class="form-control" plceholder="The date you wishto visit us...">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-auto">
                        <label asp-for="@input.Style">Style of the tattoo:</label>
                        <div class="dropdown">
                            <select asp-items="tattooStyles" class="btn btn-danger dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-auto">
                        <label asp-for="@input.Image"></label>
                        <input asp-for="@input.Image" class="form-control" placeholder="Send us example image...">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Book!</button>
            </form>
        </div>
    </div>
</section>
