@model ProductsAllViewModelWrapper

@{
    ViewData["Title"] = "The tattoo care products we offer!";
    var productCategories = this.ViewData["ProductsCategories"] as IEnumerable<SelectListItem>;

}

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(https://res.cloudinary.com/site-stuff/image/upload/q_100/v1543950315/tattooShop/hcjoheu5dvhyddxuo3hh.jpg);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h2>@ViewData["Title"]</h2>
                            <small>Here you find quality products on reasonable prices, also we have a lot of nice offers to seldom customers!</small>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<section class="probootstrap-section">
    <div class="container">
        <div class="row overlap">
            <div class="col-md-4">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon">
                        <i class="icon-filter"></i>
                    </div>
                    <div class="text">
                        <h3 class="heading">Products categories filter</h3>
                        <p>Filter the products that you want to see:</p>
                        <form asp-area="Products" asp-controller="Products" asp-action="All" method="post">
                            <div class="dropdown">
                                <select asp-items="productCategories" asp-for="@Model.DisplayCategory" class="btn btn-danger dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></select>
                            </div><br/>
                            <button class="btn btn-black" type="submit" value="Submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon">
                        <i class="icon-paper-plane"></i>
                    </div>
                    <div class="text">
                        <h3 class="heading">Fast and safe shipping</h3>
                        <p>We offer very fast and safe delivery and shipment all around europe to keep our customers satisfied.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon">
                        <i class="icon-emoji-happy"></i>
                    </div>
                    <div class="text">
                        <h3 class="heading">Having trouble or questions?</h3>
                        <p>Get in touch with us!</p>
                        <p><a asp-area="" asp-controller="Home" asp-action="Contact" asp-route-id="Piercing">Contact</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    @foreach (var product in @Model.Products)
    {
        <div class="col-md-4 probootstrap-animate ">
            <div class="probootstrap-card with-hover">
                <div class="probootstrap-card-media">
                    <a asp-area="Products" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id"><img src="@product.ImageUrl" class="img-responsive img-border image_css"></a>
                </div>
                <div class="probootstrap-card-text">
                    <h2 class="probootstrap-card-heading mb0">@product.Name</h2>
                    <p class="category">@product.Category</p>
                    <p><a asp-area="Products" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">View details</a></p>
                </div>
            </div>
        </div>
    }
</div>


