@model TattooDetailsViewModel

@{
    var date = DateTime.Parse(@Model.DoneOn);
}

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(@Model.TattooUrl);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h2>@Model.TattooRelevantName</h2>
                            <h1>Done by: <a asp-area="Artists" asp-controller="Artists" asp-action="Details" asp-route-id="@Model.ArtistId">@Model.ArtistFirstName @Model.ArtistLastName</a></h1>
                            <h2>Style: @Model.TattooStyle</h2>
                            <p><a href="@Model.TattooUrl">raw image</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<section class="probootstrap-section">
    <div class="container" style="background-color: #000">
        <div class="row">
            <div class="col-md-12 text-center section-heading probootstrap-animate">
                <h4 class="probootstrap-card-heading mb0 text-color-white"><span>Done on: </span>@date.ToString("D")</h4>
                <h4 class="probootstrap-card-heading mb0 text-color-white"><span>Sessions to make: </span>@Model.Sessions</h4>
                <h2 class="probootstrap-card-heading mb0 text-color-white">Other similar tattoos</h2>
            </div>
        </div>
        <div class="row">
            <div class="container" style="background-color: #000">
                <div class="card card-outline-secondary my-4">
                    @foreach (var tattoo in @Model.SimilarTattoos)
                    {
                        <div class="col-md-4 m-t-40 probootstrap-animate ">
                            <div class="probootstrap-card with-hover">
                                <div class="probootstrap-card-media">
                                    <a asp-area="Tattoos" asp-controller="Tattoos" asp-action="Details" asp-route-id="@tattoo.Id"><img src="@tattoo.TattooUrl" class="img-responsive img-border image_css"></a>
                                </div>
                                <div class="probootstrap-card-text">
                                    <h2 class="probootstrap-card-heading mb0 text-color-white">@tattoo.RelevantName</h2>
                                    <p class="category">@tattoo.TattooStyle</p>
                                    <p><a asp-area="Tattoos" asp-controller="Tattoos" asp-action="Details" asp-route-id="@tattoo.Id" class="btn btn-danger">View details</a></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
