@model TattooDetailsViewModel

@{
    var date = DateTime.Parse(@Model.DoneOn);
}

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(@Model.TattooUrl);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h2>@Model.TattooRelevantName</h2>
                            <h1>Done by: <a asp-area="Artists" asp-controller="Artists" asp-action="Details" asp-route-id="@Model.ArtistId">@Model.ArtistFirstName @Model.ArtistLastName</a></h1>
                            <h2>Style: @Model.TattooStyle</h2>
                            <p><a href="@Model.TattooUrl">raw image</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<hr />
<div class="container">
    <h1 class="lead text-center">This tattoo has been done on: @date.ToString("D").</h1>
    <h1 class="lead text-center">The tattoo took @Model.Sessions sessions to be completed</h1>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="card card-outline-secondary my-4">
                <div class="card-header text-center">
                    <h1>Other similar tattoos:</h1>
                </div>
                <br />
                @foreach (var tattoo in @Model.SimilarTattoos)
                {
                    <div class="col-md-4 probootstrap-animate ">
                        <div class="probootstrap-card with-hover">
                            <div class="probootstrap-card-media">
                                <a asp-area="Tattoos" asp-controller="Tattoos" asp-action="Details" asp-route-id="@tattoo.Id"><img src="@tattoo.TattooUrl" class="img-responsive img-border image_css"></a>
                            </div>
                            <div class="probootstrap-card-text">
                                <h2 class="probootstrap-card-heading mb0">@tattoo.RelevantName</h2>
                                <p class="category">@tattoo.TattooStyle</p>
                                <p><a asp-area="Tattoos" asp-controller="Tattoos" asp-action="Details" asp-route-id="@tattoo.Id">View details</a></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
