@model IEnumerable<AboutArtistsDisplayViewModel>

@{
    ViewData["Title"] = "About us";
}

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(https://res.cloudinary.com/site-stuff/image/upload/v1545018616/tattooShop/hand_man_tattoo_light_44950_1920x1080.jpg);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h2>@ViewData["Title"]</h2>
                            <p>We are a motivated and talented group of tattoo artist that work together in studio in Sofia, slide down for more information about us.</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="probootstrap-section">
    <div class="container">
        <div class="row mb50 probootstrap-animate" data-animate-effect="fadeIn">
            <div class="col-md-6">
                <p><img src="https://res.cloudinary.com/site-stuff/image/upload/q_100/v1545413742/tattooShop/shutterstock_510549745.jpg"></p>
            </div>
            <div class="col-md-6">
                <h2>How We Started</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
        </div>
        <div class="row probootstrap-animate" data-animate-effect="fadeIn">
            <div class="col-md-6 col-md-push-6">
                <p><img src="https://res.cloudinary.com/site-stuff/image/upload/q_100/v1545413788/tattooShop/depositphotos_185922494-stock-photo-black-white-photo-tattoo-master.jpg" alt="Free HTML5 Bootstrap Theme by uicookies.com" class="img-responsive"></p>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <h2>Our Philosophy</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
        </div>
    </div>
</section>
<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center probootstrap-animate">
                <h2>The Team</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var artist in @Model)
            {
                <div class="col-md-4 probootstrap-animate">
                    <div class="probootstrap-card probootstrap-person text-center">
                        <div class="probootstrap-card-media">
                            <img src="@artist.ImageUrl" class="img-responsive">
                        </div>
                        <div class="probootstrap-card-text">
                            <a asp-area="Artists" asp-controller="Artists" asp-action="Details" asp-route-id="@artist.Id"><strong>@artist.FirstName @artist.LastName</strong></a>
                            <p>tattoos done: @artist.TattoosDone</p>
                            <p>@artist.Autobiography</p>
                            <ul class="probootstrap-social">
                                <li><a href="#"><i class="icon-facebook2"></i></a></li>
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                                <li><a href="#"><i class="icon-instagram2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<script src="~/js/vendor/html5shiv.min.js"></script>
<script src="~/js/vendor/respond.min.js"></script>