@model ContactViewModel

@{
    ViewData["Title"] = "Contact";
}
<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(https://res.cloudinary.com/site-stuff/image/upload/q_100/v1545018634/tattooShop/1bca1a0bbfc847d48a3f9dcfc5f9c42f.jpg);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h2>@ViewData["Title"]</h2>
                            <p>Here you can see all our contacts and pages connected to this site and send E-mails directly to us so we can have a better contact.</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 probootstrap-animate overlap">
                <form asp-controller="Home" asp-action="Contact" method="post" class="probootstrap-form probootstrap-form-box mb60">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group col-md-auto">
                                <label asp-for="@Model.FirstName"></label><br />
                                <input asp-for="@Model.FirstName" type="text" class="form-control" plceholder="Your first name...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group col-md-auto">
                                <label asp-for="@Model.LastName"></label><br />
                                <input asp-for="@Model.LastName" type="text" class="form-control" plceholder="Your last name...">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-auto">
                        <label asp-for="@Model.SenderEmail"></label><br />
                        <input asp-for="@Model.SenderEmail" type="email" class="form-control" plceholder="Your email so we can contact back to you...">
                    </div>
                    <div class="form-group col-md-auto">
                        <label asp-for="@Model.SenderPhoneNumber"></label><br />
                        <input asp-for="@Model.SenderPhoneNumber" type="text" class="form-control" plceholder="Your phone number...">
                    </div>
                    <div class="form-group col-md-auto">
                        <label asp-for="@Model.Message"></label>
                        <textarea asp-for="@Model.Message" type="text" class="form-control" placeholder="What you want to tell us..." rows="5"></textarea>
                        <span asp-validation-for="@Model.Message" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Send Message">
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-md-push-1 probootstrap-animate">
                <h4>Contact Details</h4>
                <ul class="with-icon colored">
                    <li><i class="icon-location2"></i> <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
                    <li><i class="icon-mail"></i><span>info@domain.com</span></li>
                    <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                    <li><i class="icon-facebook"></i><span>link to the fb page</span></li>
                    <li><i class="icon-instagram"></i><span>link to the ig page</span></li>
                </ul>
                <h4>Feedback</h4>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
    </div>
</section>

<div class="container mb50 probootstrap-animate">
    <div id="map"></div>
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>