@model IEnumerable<IndexTattooViewModel>
@{
    ViewData["Title"] = "Your next tattoo is done here with passion and professionalism";
}

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(https://res.cloudinary.com/site-stuff/image/upload/q_100/v1545018806/tattooShop/maxresdefault.jpg);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h2>@ViewData["Title"]</h2>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- END: slider  -->
<section class="probootstrap-section">
    <div class="container">
        <div class="row overlap">
            <div class="col-md-4">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon">
                        <i class="icon-pencil3"></i>
                    </div>
                    <div class="text">
                        <h3 class="heading">Creating custom designs</h3>
                        <p>Feel free to send us your ideas and let our artists create the design that you were dreaming of.</p>
                        <p><a asp-area="Artists" asp-controller="Artists" asp-action="All">See tattoo artist</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon">
                        <i class="icon-book-open"></i>
                    </div>
                    <div class="text">
                        <h3 class="heading">Professional artists</h3>
                        <p>We are a group of passionate tattoo artists with creative minds and a lot of experience behind our backs.</p>
                        <p><a asp-controller="Home" asp-action="About">About us</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon">
                        <i class="icon-wallet"></i>
                    </div>
                    <div class="text">
                        <h3 class="heading">Quality products</h3>
                        <p>Selling some of the best post-tattoo products in the country and others high quality tattoo care products</p>
                        <p><a asp-area="Products" asp-controller="Products" asp-action="All">See products</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center section-heading probootstrap-animate">
                <h2>Recent Work</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var tattoo in Model)
            {
                <div class="col-md-4 probootstrap-animate ">
                    <div class="probootstrap-card with-hover">
                        <div class="probootstrap-card-media">
                            <a asp-area="Tattoos" asp-controller="Tattoos" asp-action="Details" asp-route-id="@tattoo.Id"><img src="@tattoo.TattooUrl" class="img-responsive img-border image_css"></a>
                        </div>
                        <div class="probootstrap-card-text">
                            <h2 class="probootstrap-card-heading mb0">@tattoo.TattooRelevantName</h2>
                            <p class="category">@tattoo.TattooStyle</p>
                            <p><a asp-area="Tattoos" asp-controller="Tattoos" asp-action="Details" asp-route-id="@tattoo.Id">View details</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
