@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal information";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(https://s.yimg.com/uu/api/res/1.2/2KNUr8YbCTuYrkJBBG7BDQ--~B/aD0xODA4O3c9MzMwNjtzbT0xO2FwcGlkPXl0YWNoeW9u/http://media.zenfs.com/en/homerun/feed_manager_auto_publish_494/72235f43001d0f53edaa7942187474e9);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h2>@ViewData["Title"]</h2>
                            <h2>Account email: @Model.RegisteredEmail</h2>
                            @if (this.User.IsInRole("User"))
                            {
                                <h4>Books made: @Model.Books.Count</h4>
                                <h4>Orders made: @Model.Orders.Count</h4>
                            }
                            else
                            {
                                <h4>Scroll down to see reviews and recently send emails from customers</h4>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
@if (this.User.IsInRole("User"))
{
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="card card-outline-secondary my-4">
                    <div class="card-header text-center">
                        <br />
                        <h1>Your books:</h1>
                    </div>
                    <br />
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Book date</th>
                            <th scope="col">Artist name</th>
                            <th scope="col">Booked on</th>
                            <th scopr="col">Image you have sent us</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (@Model.Books.Any())
                        {
                            foreach (var book in @Model.Books)
                            {
                                <tr>
                                    <th scope="row"></th>
                                    <td>@book.BookedFor.ToString("D")</td>
                                    <td>@book.Artist.FirstName @book.Artist.LastName</td>
                                    <td>@book.BookedOn.ToString("D")</td>
                                    <td><a href="@book.ImageUrl">image url</a></td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="card card-outline-secondary my-4">
                    <div class="card-header text-center">
                        <br />
                        <h1>Your orders:</h1>
                    </div>
                    <br />
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Delivery date</th>
                            <th scope="col">Product name</th>
                            <th scope="col">Ordered on</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (@Model.Orders.Any())
                        {
                            foreach (var book in @Model.Orders)
                            {
                                <tr>
                                    <th scope="row"></th>
                                    <td>@book.EstimatedDeliveryDay.ToString("D")</td>
                                    <td>@book.Product.Name</td>
                                    <td>@book.OrderedOn.ToString("D")</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                    <br/>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="card card-outline-secondary my-4">
                    <div class="card-header text-center">
                        <br />
                        <h1>Your feedback:</h1>
                    </div>
                    <br />
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Feedback send date:</th>
                            <th scope="col">Sender email</th>
                            <th scope="col">Sender message</th>
                            <th scope="col">Sender phone:</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (@Model.Feedback.Any())
                        {
                            foreach (var feedback in @Model.Feedback)
                            {
                                <tr>
                                    <th scope="row"></th>
                                    <td>@feedback.SendOn</td>
                                    <td>@feedback.SenderEmail</td>
                                    <td>@feedback.Message</td>
                                    <td>@feedback.SenderPhoneNumber</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                    <br/>
                </div>
            </div>
        </div>
    </div>
}
