@model CreateOrderViewModel
@{
    ViewData["Title"] = "Order?";
}

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(@Model.Product.ImageUrl);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h1>@ViewData["Title"]</h1>
                            <h3>Name: @Model.Product.Name</h3><br />
                            <h3>Description: @Model.Product.Description</h3><br />
                            <h3>Category: @Model.Product.Category</h3><br />
                            <h3>Price per product: @Model.Product.Price</h3><br />
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<section class="probootstrap-section">
    <div class="container">
        <div class="probootstrap-animate overlap">
            <form asp-area="Orders" asp-controller="Orders" asp-action="Details" method="post" class="probootstrap-form probootstrap-form-box mb50" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-md-auto">
                        <label asp-for="@Model.Description"></label>
                        <textarea asp-for="@Model.Description" type="text" class="form-control" placeholder="Description for your order..." rows="5"></textarea>
                        <span asp-validation-for="@Model.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-auto">
                        <label asp-for="@Model.DeliveryAddress">Delivery Address</label><br />
                        <input asp-for="@Model.DeliveryAddress" type="text" class="form-control" plceholder="The address you want the product delivered to.." value="@Model.UserAddress">
                        <span asp-validation-for="@Model.DeliveryAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-auto">
                        <label asp-for="@Model.Quantity"></label>
                        <input asp-for="@Model.Quantity" type="number" value="1" class="form-control">
                        <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Order!</button>
                </div>
            </form>
        </div>
    </div>
</section>


