@model CreateOrderViewModel
@{
    ViewData["Title"] = "Order?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(https://images.wallpaperscraft.com/image/money_dollars_bills_background_surface_65906_1920x1080.jpg);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h1>@ViewData["Title"]</h1>
                            <h3>Name of product: @Model.Product.Name</h3><br />
                            <h3>Description of product: @Model.Product.Description</h3><br />
                            <h3>Category of product: @Model.Product.Category</h3><br />
                            <h3>Price per product: @Model.Product.Price</h3><br />
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>